@utility field {
	:where(&) {
		@apply flex flex-col items-start gap-1.5;
	}
}

@utility label {
	:where(&) {
		@apply font-medium text-sm;

		@variant data-[required] {
			@apply after:content-['*'] after:opacity-65;
		}

		@variant data-[invalid=true] {
			@apply text-destructive;
		}
	}
}

@utility input {
	:where(&) {
		@apply border-input h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none md:text-sm
			disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50
			focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px]
			aria-invalid:ring-destructive/20 aria-invalid:border-destructive
			selection:bg-primary selection:text-primary-foreground
			placeholder:text-muted-foreground
			file:text-foreground file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium;
	}
}
