.prose {
    --prose-color: color-mix(in oklab, var(--color-foreground) 80%, transparent);
    --prose-color-muted: color-mix(in oklab, var(--color-foreground) 60%, transparent);
    --prose-heading-color: var(--color-foreground);
    --prose-strong-color: var(--color-foreground);
    --prose-code-color: var(--color-foreground);
    --prose-marker-color: color-mix(in oklab, var(--color-gray-700) 25%, transparent);
    --prose-th-borders: var(--color-gray-300);
    --prose-td-borders: var(--color-gray-200);
    --prose-hr-color: color-mix(in oklab, var(--color-foreground) 5%, transparent);
    --prose-blockquote-border-color: var(--color-gray-300);

    color: var(--prose-color);
    line-height: 1.8;
    text-wrap: pretty;

    *:where(:not(.not-prose, .not-prose *)) + *:where(:not(.not-prose, .not-prose *)) {
        margin-top: calc(var(--spacing) * 6);
    }

    h1:where(:not(.not-prose, .not-prose *)) {
        font-size: var(--text-3xl);
        line-height: 1.5;
        letter-spacing: -0.025em;
        color: var(--prose-code-color);
        font-weight: var(--font-weight-semibold);
        margin-top: calc(var(--spacing) * 20);
        text-wrap: balance;
    }

    h1 + p:where(:not(.not-prose, .not-prose *)):has(> strong:only-child) {
        font-size: var(--text-xl);
        line-height: calc(28 / 18);
        margin-top: 0.25rem;
        strong {
            font-weight: 500;
            color: var(--prose-color-muted);
        }
    }

    h2:where(:not(.not-prose, .not-prose *)) {
        font-size: var(--text-xl);
        line-height: calc(28 / 18);
        letter-spacing: -0.025em;
        color: var(--prose-code-color);
        font-weight: var(--font-weight-semibold);
        margin-top: calc(var(--spacing) * 16);
        text-wrap: balance;
    }

    h3:where(:not(.not-prose, .not-prose *)) {
        font-size: var(--text-base);
        line-height: calc(28 / 18);
        color: var(--prose-heading-color);
        font-weight: var(--font-weight-semibold);
        margin-top: calc(var(--spacing) * 14);
        text-wrap: balance;
    }

    h2 + h3:where(:not(.not-prose, .not-prose *)) {
        margin-top: calc(var(--spacing) * 6);
    }

    h4:where(:not(.not-prose, .not-prose *)) {
        font-size: var(--text-sm);
        line-height: calc(28 / 14);
        color: var(--prose-heading-color);
        font-weight: var(--font-weight-semibold);
        margin-top: calc(var(--spacing) * 10);
        text-wrap: balance;
    }

    :is(h2, h3, h4):where(:not(.not-prose, .not-prose *)) {
        scroll-margin-top: calc(var(--spacing) * 24);
        @variant lg {
            scroll-margin-top: calc(var(--spacing) * 20);
        }
    }

    ol:where(:not(.not-prose, .not-prose *)) {
        padding-left: calc(var(--spacing) * 5);
        list-style-type: decimal;
    }

    ol li:where(:not(.not-prose, .not-prose *)) {
        padding-left: calc(var(--spacing) * 1);
    }

    ol li + li:where(:not(.not-prose, .not-prose *)) {
        margin-top: calc(var(--spacing) * 2);
    }

    ol li:where(:not(.not-prose, .not-prose *))::marker {
        /* font-weight: 600; */
        color: var(--prose-marker-color);
    }

    ul:where(:not(.not-prose, .not-prose *)) {
        padding-left: calc(var(--spacing) * 3);
        list-style-type: '-';
    }

    ul li:where(:not(.not-prose, .not-prose *)) {
        padding-left: calc(var(--spacing) * 3);
    }

    ul li + li:where(:not(.not-prose, .not-prose *)) {
        margin-top: calc(var(--spacing) * 2);
    }

    ul li:where(:not(.not-prose, .not-prose *))::marker {
        color: var(--prose-marker-color);
    }

    a:not(:where(:is(h2, h3, h4) *)):where(:not(.not-prose, .not-prose *)) {
        @apply link;
    }

    strong:where(:not(.not-prose, .not-prose *)) {
        color: var(--prose-strong-color);
        font-weight: var(--font-weight-semibold);
    }

    code:where(:not(.not-prose, .not-prose *, pre *)) {
        font-variant-ligatures: none;
        font-family: var(--font-mono);
        font-weight: var(--font-weight-medium);
        font-size: 0.925rem;
        color: var(--prose-code-color);
        background-color: #fcfcfc;
        border: 1px solid color-mix(in oklab, var(--color-border) 80%, transparent);
        border-radius: 6px;
        padding: 0.2em 0.3em;
    }

    :where(h2, h3, h4) code:where(:not(.not-prose, .not-prose *)) {
        font-weight: var(--font-weight-semibold);
        margin-inline: 3px;
    }

    pre:where(:not(.not-prose, .not-prose *)) {
        margin-top: calc(var(--spacing) * 4);
    }

    pre code * + *:where(:not(.not-prose, .not-prose *)) {
        margin-top: 0;
    }

    pre code:where(:not(.not-prose, .not-prose *))::before,
    pre code:where(:not(.not-prose, .not-prose *))::after {
        content: none;
    }

    .table-wrapper {
        --border-offset-size: 20px;
        @variant lg {
            --border-offset-size: 40px;
        }

        overflow-x: auto;
        margin-left: calc(var(--border-offset-size) * -1);
        margin-right: calc(var(--border-offset-size) * -1);
        margin-block: 8px;
        position: relative;

        @supports (animation-timeline: scroll()) {
            mask:
                linear-gradient(to right, var(--smooth-gradient-stops-white-transparent)) 0 50% / 0
                    100% no-repeat,
                linear-gradient(white, white) 50% 50% / 100% 100% no-repeat,
                linear-gradient(to right, var(--smooth-gradient-stops-transparent-white)) 100% 50% /
                    50px 100% no-repeat;
            mask-composite: exclude;
            animation:
                scroll-mask-left both linear,
                scroll-mask-right both linear;
            animation-timeline: scroll(self x);
            animation-range:
                0 2rem,
                calc(100% - 2rem) 100%;
        }
    }

    table:where(:not(.not-prose, .not-prose *)) {
        position: relative;
        table-layout: auto;
        font-size: var(--text-sm);
        line-height: 1.4;

        &:before {
            content: '';
            @apply bg-background mask-r-from-20%;
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: var(--border-offset-size);
        }
        &:after {
            content: '';
            @apply bg-background mask-l-from-20%;
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            width: var(--border-offset-size);
        }

        &:has(+ h2, + h3, + h4) {
            margin-bottom: calc(-1 * var(--border-offset-size) * 0.35);
        }
    }

    thead:where(:not(.not-prose, .not-prose *)) {
        border-bottom-width: 1px;
        border-bottom-style: dashed;
        border-bottom-color: var(--prose-th-borders);

        &:before {
            content: '';
            @apply bg-background mask-b-from-20%;
            position: absolute;
            top: 0px;
            left: 0px;
            height: var(--border-offset-size);
            width: 100%;
        }
    }

    thead th:where(:not(.not-prose, .not-prose *)) {
        color: var(--prose-heading-color);
        font-weight: 600;
        vertical-align: bottom;
        padding-inline-end: 0.6em;
        padding-bottom: 0.8em;
        padding-inline-start: 0.6em;
        padding-top: var(--border-offset-size);
    }

    thead th:first-child:where(:not(.not-prose, .not-prose *)) {
        padding-inline-start: var(--border-offset-size);
    }

    thead th:last-child:where(:not(.not-prose, .not-prose *)) {
        padding-inline-end: var(--border-offset-size);
    }

    thead th:where(:not(.not-prose, .not-prose *)):not(:last-child) {
        border-right-width: 1px;
        border-right-color: var(--prose-td-borders);
        border-right-style: dashed;
    }

    tbody:where(:not(.not-prose, .not-prose *)) {
        &:before {
            content: '';
            @apply bg-background mask-t-from-20%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            height: var(--border-offset-size);
            width: 100%;
        }
    }

    tbody tr:where(:not(.not-prose, .not-prose *)) {
        border-bottom-width: 1px;
        border-bottom-color: var(--prose-td-borders);
        border-bottom-style: dashed;
    }

    tbody tr:last-child:where(:not(.not-prose, .not-prose *)) {
        /* border-bottom-width: 0; */

        td {
            padding-bottom: var(--border-offset-size);
        }
    }

    tbody td:where(:not(.not-prose, .not-prose *)) {
        vertical-align: baseline;
    }
    tbody td:where(:not(.not-prose, .not-prose *)):not(:last-child) {
        border-right-width: 1px;
        border-right-color: var(--prose-td-borders);
        border-right-style: dashed;
    }

    tfoot:where(:not(.not-prose, .not-prose *)) {
        border-top-width: 1px;
        border-top-color: var(--prose-th-borders);
    }

    tfoot td:where(:not(.not-prose, .not-prose *)) {
        vertical-align: top;
    }

    tbody td:where(:not(.not-prose, .not-prose *)),
    tfoot td:where(:not(.not-prose, .not-prose *)) {
        padding-top: 0.8em;
        padding-inline-end: 0.6em;
        padding-bottom: 0.8em;
        padding-inline-start: 0.6em;
    }

    tbody td:first-child:where(:not(.not-prose, .not-prose *)),
    tfoot td:first-child:where(:not(.not-prose, .not-prose *)) {
        padding-inline-start: var(--border-offset-size);
    }

    tbody td:last-child:where(:not(.not-prose, .not-prose *)),
    tfoot td:last-child:where(:not(.not-prose, .not-prose *)) {
        padding-inline-end: var(--border-offset-size);
    }

    th:where(:not(.not-prose, .not-prose *)),
    td:where(:not(.not-prose, .not-prose *)) {
        text-align: start;
    }

    td code:where(:not(.not-prose, .not-prose *)) {
        font-size: 0.8125rem;
    }

    td pre:where(:not(.not-prose, .not-prose *)) {
        @apply p-0 border-none;
        line-height: inherit;
    }

    hr:where(:not(.not-prose, .not-prose *)) {
        border-color: var(--prose-hr-color);
        margin-block: --spacing(16);
        & + h2 {
            margin-top: --spacing(16);
        }
    }

    blockquote {
        font-style: italic;
        border-inline-start-width: 0.25rem;
        border-inline-start-color: var(--prose-blockquote-border-color);
        padding-inline-start: calc(var(--spacing) * 4);
    }

    blockquote p:first-of-type::before {
        content: open-quote;
    }

    blockquote p:last-of-type::after {
        content: close-quote;
    }

    figure:where(:not(.not-prose, .not-prose *)) {
        figcaption:where(:not(.not-prose, .not-prose *)) {
            margin-top: calc(var(--spacing) * 3);
            text-align: center;
            font-size: var(--text-sm);
            line-height: var(--text-sm--line-height);
            font-style: italic;
            color: color-mix(in oklab, var(--prose-color) 75%, transparent);
        }
    }

    .component-example {
        margin-block: calc(var(--spacing) * 8);
    }

    :first-child:where(:not(.not-prose, .not-prose *)) {
        margin-top: 0;
    }

    :last-child:where(:not(.not-prose, .not-prose *)) {
        margin-bottom: 0;
    }
}
